body{
  text-align: center;
  padding-top: 100px;
}

button{
  background-color: blue;
  height: 50px;
  width: 10%;
  padding: 6px;
  margin-top: 20px;
  border-radius: 10px;
  border: none;
  color: white;
}

input{
  width: 25%;
  height: 35px;
  border-radius: 5px;
  border: solid black;
  border-width: 1px;
  padding: 10px;
}